@model ComputerForum.ViewModels.CategoryEditVM

@{
    ViewData["Title"] = "EditCategory";
}

<h1>Edit category</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Category Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="CreatorId" type="hidden" value="@Model.CreatorId"/>
                <input asp-for="CreationDate" type="hidden" value="@Model.CreationDate"/>
                <input asp-for="Id" type="hidden" value="@Model.Id"/>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

