
@{
    ViewData["Title"] = "LogIn";
}
<h1>Log In</h1>
<form>
    <div class="form-group">
        <label for="emailInput">Enter Email</label>
        <input type="email" id="emailInput" class="form-control" placeholder="Email"/>
    </div>
    <div class="form-group">
        <label>Enter Password</label>
        <input type="password" class="form-control" placeholder="Password"/>
    </div>
    <button class="btn btn-primary">Log In</button>
</form>
 <small>Don't have an account? - <a asp-area="" asp-controller="Home" asp-action="Register">Register</a> instead</small>