@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComputerForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-superhero.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComputerForum.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function() 
        {
            $.ajax({
                type: "GET",
                url: "https://official-joke-api.appspot.com/jokes/programming/random",
                dataType: "json",
                success: function(result) {
                    $("#jokeArea").text(result[0].setup + " " + result[0].punchline);
                },
                error: function(req, status, error) {
                }
            })
        })
    </script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1 class="display-4 text-white">ComputerForum</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        
                        @if(User.Identity.Name == null)
                        {
                            <li class="nav-item">
                                        <a class="nav-link text-white " asp-area="" asp-controller="User" asp-action="Register"><button class="btn btn-outline-light">Register</button></a>
                            </li>
                            <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="LogIn"><button class="btn btn-outline-light">Log In</button></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <button class="nav-link text-white dropdown-toggle " data-bs-toggle="dropdown">@User.Identity.Name</button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a asp-controller="User" asp-action="UserDetails">Your Profile</a></li>
                                            <li><a asp-controller="User" asp-action="UserSettings">Settings</a></li>
                                            @if(User.FindFirst(ClaimTypes.Role).Value == "Admin")
                                            {
                                                <li><a asp-controller="Report" asp-action="Index">Reports</a></li>
                                            }
                                            <li><a class="nav-link text-white" asp-controller="User" asp-action="Signout">Sign out</a></li> 
                                </ul>
                            </li>

                        }
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    &copy; 2023 - ComputerForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col text-end">
                    <span id="jokeArea"></span>
                </div>
                
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

