@model ComputerForum.ViewModels.BlogStatisticsVM


    <p><b>Blog statistics</b></p>
    <p>Categories: @Model.CategoryCount</p>
    <p>Topics: @Model.TopicCount</p>
    <p>Users: @Model.UserCount</p>

