@model ComputerForum.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "LogIn";
}
<h1>Log In</h1>
<form asp-action="ForgotPassword">
    <div class="row">
        <div class="col-md-6 col-12">
            <label  for="nameInput">Enter email</label>
            <input asp-for="email" class="form-control"/>
            @Html.ValidationMessageFor(model => model.email, null, new {@class = "text-danger"})
        </div>
    </div>
    <span class="text-danger">@Html.ValidationSummary()</span>
    <button type="submit" class="submit-btn btn btn-primary mt-2">Forgot password</button>
</form>