@model ComputerForum.ViewModels.PasswordChangeVM
@{
    ViewData["Title"] = "Password change";
}
<h1>Log In</h1>
<form asp-action="NewUserPassword">
    <div class="row">
        <div class="col-md-6 col-12">
            <label  for="nameInput">Enter new password</label>
            <input asp-for="Password" class="form-control"/>
            @Html.ValidationMessageFor(model => model.Password, null, new {@class = "text-danger"})
            <input asp-for="token" class="form-control" type="hidden" value="@Model.token"/>
            <input asp-for="userId" class="form-control" type="hidden" value="@Model.userId"/>
        </div>
    </div>
    <span class="text-danger">@Html.ValidationSummary()</span>
    <button type="submit" class="submit-btn btn btn-primary mt-2">Accept</button>
</form>