@model ComputerForum.ViewModels.ReportCreateVM

@{
    ViewData["Title"] = "ReportTopic";
}

<div class="row" id="">
    <div class="col-md-4">
        <form asp-action="ReportTopic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Describe your problem</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input asp-for="ReportedUserId" type="hidden" value="@Model.ReportedUserId"/>
            <input asp-for="TopicId" type="hidden" value="@Model.TopicId"/>
            <div class="form-group">
                <input type="submit" value="Create report" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
